		<div class="container-fluid">
			<div class="row-fluid">
				<div id="resume" class="span10">
					<h2>About Me</h2>
					<div>
						<p>
							I started by falling in love with StarLogo,
							and moved to creating websites with WYSIWYG tools,
							but my annoyance with the tools lead me to start coding sites manually.
						</p>
						<p>
							After finding people needed quick, affordable sites,
							I started to use Drupal for website design.
						</p>
						<p>
							I have now moved to creating websites for myself with PHP, HTML5, JavaScript, and CSS (using jQuery and Twitter Bootstrap) hosted on Apache servers running on CentOS virtual private servers.
						</p>
						<p>
							I use GNU make to preprocess most static PHP pages, so I get all the advantages of PHP
							templating while still being able to use a CDN and caching.
						</p>
						<p>
							I also use node.js, often with CoffeeScript, for web applications.
						</p>
						<p>
							Most of my high school papers
							(and notes and work)
							are written in LaTeX,
							which I have written Python scripts to help me quickly compile and add to git repositories.
						</p>
						<small>-- From my <a href="http://careers.stackoverflow.com/ryanleonard">Stack Overflow Careers</a> profile</small>
					</div>
				</div>
				<div id="links" class="span2 well">
					<p>
						<a href="http://www.linkedin.com/in/ryanlenny" class="btn">
							Linkedin Profile
						</a>
					</p>
					<p>
						<a href="http://careers.stackoverflow.com/ryanleonard" class="btn">
							StackOverflow Careers CV
						</a>
					</p>
				</div>
			</div>
			<div class="row-fluid">
				<div id="contact" class="span12">
					Email: <a href="http://www.google.com/recaptcha/mailhide/d?k=016aPsm_Wr7VBdhuKxDFUIdw==&amp;c=3Rc-KHNM0mnrHPP8Am_7abTL2nnczfj7CZJDBz-UoSE=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\075016aPsm_Wr7VBdhuKxDFUIdw\75\75\46c\0753Rc-KHNM0mnrHPP8Am_7abTL2nnczfj7CZJDBz-UoSE\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">w...@...</a>rd.us
				</div>
			</div>
		</div>