/*
CSS code for the jQuery PanoScroll
author:				stephen giorgi
author email:		steve@deadlycomputer.com
plugin homepage:	http://steve.deadlycomputer.com/portfolio/PanoScroll

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/
.pan	{ margin:5px; padding-top:15px; padding-bottom:5px; }

.panView	{ position:relative; color:#000; }

.sUp, .sLeft, .sDown, .sRight, .sPause	{ height:25px; width:25px; text-indent:-9000px; cursor:pointer; display:inline-block; }

.sRight			{ background:url(http://steve.deadlycomputer.com/portfolio/PanoScroll/scrollCtr2a.png) no-repeat top left; position:absolute; left:150px; top:15px; }
.sRight:hover	{ background-position:0 -25px; }
.sLeft			{ background:url(scrollCtr2a.png) no-repeat -25px 0; position:absolute; left:25px; top:15px; }
.sLeft:hover	{ background-position:-25px -25px; }
.sUp			{ background:url(scrollCtr2a.png) no-repeat -50px 0; position:absolute; left:25px; top:15px; }
.sUp:hover		{ background-position:-50px -25px; }
.sDown			{ background:url(scrollCtr2a.png) no-repeat -75px 0; position:absolute; left:150px; top:15px; }
.sDown:hover	{ background-position:-75px -25px; }
.sPause			{ background:url(scrollCtr2a.png) no-repeat -100px 0; position:absolute; left:85px; top:15px; }
.sPause:hover	{ background-position:-100px -25px; }