			<div class="row-fluid">
				<div class="span8">
					<h2>Positions</h2>
					<!--<p></p>-->
					<div class="row-fluid">
						<div class="span3">
						</div>
						<div class="span9">
							<h4>Tech Task Force</h4>
							<p>
								An internship-esque "student help desk", contributing to the tech
								team by teaching, dealing with hardware,
								writing custom apps for internal and school-wide use, and <a href="/ttf/">more</a>.
							</p>
							<p>
								<span class="text-info">Role</span>
								I was one of two students to begin in the class, and wrote a few applications
								and helped with many of the projects.  <a href="/ttf/">Complete List of Tech Task Force activities</a>
							</p>
						</div>
					</div>
					<h2>Major Commercial Projects</h2>
					<p>Here are projects that took weeks and months of work.</p>
					<div class="row-fluid">
						<div class="span3">
						</div>
						<div class="span9">
							<h4>Distribute Stuff</h4>
							<p>
								A program to help with coordination and communication when
								giving lots of stuff to people that you care about,
								useful when dealing with inheritances.
							</p>
							<p>
								<span class="text-info">Role</span> 
								I wrote all of the code, and currently run all aspects of Distribute Stuff,
								including finances and customer support.
							</p>
							<p>
								<a href="http://distributestuff.com/">Website</a>
							</p>
						</div>
					</div>
				</div>
				<div class="span4 well">
					<h2>Open Source Libraries</h2>
					<p>More minor projects that I've open sourced are listed here.</p>
					<div>
						<h4>Fancy Query (fancyQuery.js)</h4>
						<p>
							A simple auto-complete library with support for multiple tokens/tags.<br />
							Inspired by the StackExchange search syntax and Apple's Finder search bar.<br />
							<a href="https://bitbucket.org/rleonard/fancy-query">Code</a> <a href="http://rleonard.bitbucket.org/fancyquery/">Demo</a>
						</p>
					</div>
				</div>
			</div>
		</div>