		<link rel="stylesheet" href="/ttf/resume.css" />
		<div class="container-fluid">
			<div class="section">
				<h3>events</h3>
				<div class="entry row-fluid">
					<div class="time span2 offset1"></div>
					<div class="name span6">Hour of Code</div>
					<div class="category span3">Programming</div>
					<p class="description span7 offset2">Prepared rooms for presenters to teach programming, aided presentations when needed (both with technical support and with programming content).</p>
				</div>
				<div class="entry row-fluid">
					<div class="time span2 offset1"></div>
					<div class="name span6">Digital Cafe</div>
					<div class="category span3">Digital Showcase</div>
					<p class="description span7 offset2">Helped showcase innovative ways to use technology in the classroom, setup projection equipment, promoted the Tech Task Force several times.</p>
				</div>
				<div class="entry row-fluid">
					<div class="time span2 offset1"></div>
					<div class="name span6">Technical Setup</div>
					<div class="category span3">AV Setup</div>
					<p class="description span7 offset2">Setup projection and audio equipment around the school.</p>
				</div>
			</div>

			<div class="section">
				<h3>coding projects</h3>
					<div class="entry row-fluid">
					<div class="time span2 offset1"></div>
					<div class="name span6"><a href="https://bitbucket.org/rleonard/chromebook-scanning-app/overview">Chromebook Barcode Scanning App</a></div>
					<div class="category span3">Internal App</div>
					<p class="description span7 offset2">
						Saved 4 days of school staff time on manually transcribing barcode numbers
						by programming a phone to scan barcodes into a CSV file.<br />
						<span class="text-info">Open Source (GPLv3)</span>&nbsp;
						<a href="https://bitbucket.org/rleonard/chromebook-scanning-app/overview">Code</a>
					</p>
				</div>
				<div class="entry row-fluid">
					<div class="time span2 offset1"></div>
					<div class="name span6"><a href="https://bitbucket.org/rleonard/osid-server">OSID Server</a></div>
					<div class="category span3">School App</div>
					<p class="description span7 offset2">
						Suggested and currently implementing an easier method of publishing on social networks, in school publications, and creating animations for sign boards.<br />
						<span class="text-info">Open Source (GPLv3)</span>&nbsp;
						<a href="https://bitbucket.org/rleonard/osid-server">Code</a> |&nbsp;
						<a href="https://bitbucket.org/rleonard/osid-twitter-plugin">Twitter Plugin</a>
					</p>
				</div>
				<div class="entry row-fluid">
					<div class="time span2 offset1">(in progress)</div>
					<div class="name span6">Google Drive Sharing Plugin</div>
					<div class="category span3">School App</div>
					<p class="description span7 offset2">Suggested an app to improve ease of sharing files with teachers through Google Drive by querying school databases of student schedules to suggest teachers to send files to.</p>
				</div>

			<div class="section">
				<h3>animations</h3>
					<div class="entry row-fluid">
					<div class="time span2 offset1"></div>
					<div class="name span6">Technology Integration</div>
					<div class="category span3">Video Production</div>
					<p class="description span7 offset2">Created a video blending animated frames with video taken showcasing technological advances in the school.</p>
				</div>
				<div class="entry row-fluid">
					<div class="time span2 offset1"></div>
					<div class="name span6">Socially Responsible: An Animation About Impressions</div>
					<div class="category span3">Digital Wellness</div>
					<p class="description span7 offset2">Created an animation stressing the importance of keeping a good appearance on social media.</p>
				</div>
			</div>

			<div class="section">
				<h3>other</h3>
					<div class="entry row-fluid">
					<div class="time span2 offset1"></div>
					<div class="name span6">Authorized Penetration Testing</div>
					<div class="category span3">Security</div>
					<p class="description span7 offset2">Found and reported many security problems in the school.</p>
				</div>
				<div class="entry row-fluid">
					<div class="time span2 offset1"></div>
					<div class="name span6">One-on-One Teaching</div>
					<div class="category span3">Teaching</div>
					<p class="description span7 offset2">Often taught teachers and students specific technologies.</p>
				</div>
				<div class="entry row-fluid">
					<div class="time span2 offset1"></div>
					<div class="name span6">Teaching Aide</div>
					<div class="category span3">Teaching</div>
					<p class="description span7 offset2">Helping answer student questions in a Java class on an occasional basis.</p>
				</div>
				<div class="entry row-fluid">
					<div class="time span2 offset1"></div>
					<div class="name span6">Classroom Teaching</div>
					<div class="category span3">Teaching</div>
					<p class="description span7 offset2">Teaching classes new technologies that are being used in the high school.</p>
				</div>
				<div class="entry row-fluid">
					<div class="time span2 offset1"></div>
					<div class="name span6">Technovation App Challenge</div>
					<div class="category span3">Mentoring</div>
					<p class="description span7 offset2">Acting as a mentor to a school team working on an app  challenge.</p>
				</div>
			</div>
		</div>